{
  "env": {
    "development": {
      "presets": ["next/babel"],
      "plugins": ["@babel/plugin-transform-runtime", "inline-dotenv"]
    },
    "production": {
      "presets": ["next/babel"],
      "plugins": ["transform-node-env-inline"]
    }
  }
}
